<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Semi-Restful_user</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
        <h1>Users</h1>
        <table class="table">
            <tr>
                <td>id</td>
                <td>Full Name</td>
                <td>Email</td>
                <td>Created At</td>
                <td>Actions</td>
            </tr>
            {%for i in users%}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.first_name}}&nbsp;{{i.last_name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.created_at}}</td>
                <td><a href="/users/{{i.id}}/show">Show</a>&nbsp;<a href="/users/{{i.id}}/edit" >Edit</a>&nbsp;<a href="/users/{{i.id}}/destroy">Delete</a></td>
            </tr>
           {%endfor%}
        </table>
        <a href="/users/new">Add New user</a>
    </div>
    
</body>
</html>